<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.zzch.gmall.pms.mapper.BrandMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, first_letter, sort, factory_status, show_status, product_count, product_comment_count, logo, big_pic, brand_story
    </sql>

    <update id="updateShowStatus" parameterType="java.util.List">
        update pms_brand set show_status=#{showStatus} where id in
        <foreach collection="ids" item="id" open="(" close=")" index="index" separator=",">
            #{id}
        </foreach>
    </update>

    <update id="updateFactoryStatus" parameterType="java.util.List">
        update pms_brand set factory_status=#{factoryStatus} where id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

</mapper>
